@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
 /*------------------------------  PAGINA HOME   -----------------------------------*/
header{
    padding: 15px;
    background-color: rgb(133, 255, 133);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#mainhome{
    background-color: rgb(220, 255, 212);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mainhome > h1 > strong{
    color: red;
}

#divhome > a > button{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.466);
    border-radius: 10px;
}
#divhome > a > button:hover{
    background-color: rgb(191, 243, 114);
}
#divhome > a > button:active{
    background-color: rgb(195, 211, 171);
}
.desactive{
    transform: translateY(-100%);
}
/*------------------------------  PAGINA ANOTAÇÃO   -----------------------------------*/


#bTnAnot{
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
#popup-anot{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#div-popup-anot{
    background-color: white;
    height: 300px;
    width: 300px;
}
#div-popup-anot > form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div-popup-anot > form > button{
    margin: 20px;
    font-size: 20px;
}
#div-popup-anot > p{
    font-weight: bold;
    position: absolute;
    font-size: 22px;
    cursor: pointer;
    right: 40%;
    top: 24%;
}
#mainanot{
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 20px;
    justify-content: center;
}
.postAnot{
    padding: 10px;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    width: 250px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.postAnot > a{
    margin-top: 20px; 
}
.postAnot > a > button{
    font-size: 17px;
}
#nomeanot{
    width: 90%;
    height: 20px;
}
#anotacao{
    width: 90%;
    height: 100px;
}

/*------------------------------  PAGINA OCORRENCIAS  -----------------------------------*/

#bTnOco{
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
#popup-oco{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div-popup-oco{
     background-color: white;
    height: 500px;
    width: 300px;
}
#div-popup-oco > form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#div-popup-oco > p{
    font-weight: bold;
    position: absolute;
    font-size: 22px;
    cursor: pointer;
    right: 40%;
    top: 9%;
}
#mainOco{
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 20px;
    justify-content: center;
}
.postOco{
    padding: 10px;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    width: 250px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;   
    gap: 10px; 
}
#spanstatus{
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}
.negrito{
   font-weight: bold; 
}

/*------------------------------  PAGINA INSPECOES  -----------------------------------*/



