<section id="popup-anot" class="desactive">
    <div id="div-popup-anot">
        <p id="fechar">X</p>
            <form action="/anot" method="post">
                <input type="text" name="nome" id="nomeanot" required maxlength="100"placeholder="Nome"><br>
                <textarea name="anotacao" id="anotacao" placeholder="Anotação" maxlength="300"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
</section>
<header id="headerAnot">
    <h1>Anotações</h1>
    <button id="bTnAnot">Fazer anotação</button>
</header>
<main id="mainanot"> 
    {{#each postanot}}
    <div class="postAnot">
        <h2>Número: {{idanotacao}}</h2>
    <h3>Acionador: </h3>
    <p>{{nome_anotador}}</p>
    <h3>Anotação:</h3>
    <p>{{anotacao}}</p>
    <a href="/del/{{idanotacao}}"><button>deletar</button></a>
    </div>
    {{/each}}
</main>
