<main id="mainhome">
    <h1>CIPA <strong>Telecall</strong></h1>
    <div id="divhome">
        <a href="/anotacoes"><button>Anotações</button></a>
        <a href="/inspecoes"><button>Inspeções</button></a>
        <a href="/ocorrencias"><button>Ocorrências</button></a>
        <a href="/reuniao"><button>Reunião</button></a>
    </div>
</main>